p {
  margin: 0;
  padding: 0;
}

.App {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  min-width: 400px;
}

.logo-container {
  width: 400px;
}

.SearchBar {
  width: 80%;
}

.card {
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  max-width: 80%;
  padding: 2em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  color: white;
  background-color: rgb(50, 50, 50);
}

.img-fluid {
  min-width: 200px;
}

.Welcome {
  color: rgb(107, 107, 107);
  font-size: 1.2em;
  padding: 0px;
}

.form-control {
  background-color: rgb(152, 152, 152);
  font-size: 1.4em;
}

/* Style for navbar links */
.nav-link {
  color: #c4c4c4; 
  text-decoration: none;
}

/* Style for navbar links on hover */
.nav-link:hover {
  color: #aa2bff; 
}

/* Style for selected navbar links */
.nav-link.active,
.nav-link.active:hover {
  color: #FFA500; 
}

ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
}

.SearchBar {
  padding-top: 1em;
  padding-bottom: 1.2em;
}

/* Intro Details */

.Intro {
  color:rgb(224, 224, 224);
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.Intro h2 {
  color: #ff6f00;
}

/* Program Details */

.program_detail {
  margin-left: 1em;
}

.title h2 {
  font-weight: 400;
}

h3.tagline {
  font-size: 1.2em;
  font-style: italic;
  font-weight: 100;
  padding: 1em 0;
}

.release_date {
  font-size: 1.25em;
  font-weight: 200;
  padding: 0.5em 0;
}

.overview p {
  font-size: 1.25em;
  padding: 0 1em;
  font-weight: 200;
  padding-bottom: 3em;
}

.header_info {
  font-weight: 300;
  color: #989898;
}

.facts span {
  padding-right: 1em;
}

.certification {
  line-height: 1;
  padding: 0.06em 4px 0.15em!important;
  border-radius: 2px;
  border: 1px solid rgba(124, 124, 124, 0.6);
  margin-right: 1em;
}

.program_detail .title h2 {
  color:#ff6f00;
}

/* icons - eye, fav, add, delete */

.control {
  position: absolute; /* Set bottom section position to absolute */
  bottom: 0; /* Align bottom of the section to the bottom of the parent container */
  right: 0;
  padding-bottom: 0.75em;
  padding-right: 0.75em;
  font-size: 2em;
}

.control i {
  padding: 0.2em;
  margin-left: 0.75em;
}


.bi-heart:hover {
  color: red;
  cursor: pointer;
}

.bi-heart:hover:before {
  content: "\F415"; /* Code for a different icon */
}

.bi-eye:hover {
  color: orange;
  cursor: pointer;
}

.bi-eye:hover:before {
  content: "\F33E"; 
}

.bi-plus-circle:hover {
  color: green;
  cursor: pointer;
}

.bi-plus-circle:hover:before {
  content: "\F4F9"; 
}

.bi-trash:hover {
  color: rgb(255, 115, 0);
  cursor: pointer;
}

.bi-trash:hover:before {
  content: "\F5DD"; 
}

.Footer {
  color:rgb(179, 179, 179);
  text-align: center;
  border-top: #5b5b5b solid 1px;
}

.popular-list {
  padding-left: 1em;
}

.popular {
  color:rgb(179, 179, 179);
  font-size: 2em;
  margin-top: 2em;
  font-weight: 200;
  border-bottom: #5b5b5b solid 1px;
  text-transform: uppercase;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
  padding: 50px;
}

.movie-item img {
  transition: transform 0.3s ease-in-out;
  display: block;
  max-width: 100%;
  height: auto;
}

.movie-item:hover img {
  transform: scale(1.05);
}

.additional-info {
  color:rgb(179, 179, 179);
  font-size: 1.25em;
  font-weight: 100;
  margin-top: 0.75em; 
  text-align: center;
  line-height: 1.5cap;
}

.movie-item:hover .add-watchlist-btn {
  visibility: visible;
  opacity: 1;
}

.movie-item {
  position: relative;
  display: inline-block;
}

.movie-item img {
  display: block;
  width: 100%;
  height: auto;
}

.add-watchlist-btn {
  position: absolute;
  bottom: 5px;
  right: 10px;
  z-index: 10;
}

/* animate on card delete */

.card {
  position: relative;
}

.card-exit-active {
  opacity: 0;
  transform: translateX(10%); /* Keep this to a minimum to prevent the "scroll bars appearing when animating" */
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}
